//colors
$black: #000;
$white: #fff;
$blue: #0071F5;
$light-grey: #D9D9D9;

//fonts

$montserrat: 'Montserrat', sans-serif;
$open-sans: 'Open Sans', sans-serif;

//font weights

$semi-bold: 600;
$bold: 700;